/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }

.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  /* background-color: #000000; */
  color: #ffffff;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.appcontrol-logo {
    background-color: #ffffff;
    width: 200px;
    padding: 2px;
}
.footer a {
    color: #ffffff;
    text-decoration: underline;
}

body > .container {
    padding: 60px 15px 0;
  }

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

article {
    background-color: #ffffff;
}

blockquote {
    font-size: 90%;
    font-style: italic;
    margin-left: 20px;
    margin-right: 20px;
    border-left-style: solid;
    border-left-width: thick;
    border-left-color: grey;
    padding-left: 10px;
}

.container p {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.well > .mdata {
    padding: 0.25rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: smaller;
}

.well p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}


/* ------------------------------------------------------------ [ Container ] */

.vcenter {
    display: flex;
    align-items: center;
    float: none;
}

.container > img.center {
    padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------------------------------------------ [ EOF ] */
