/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  bottom: 0;

  width: 100%;
  background-color: #000000;
  color: #ffffff;

  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 25px;

}

.footer a {
    color: #ffffff;
    text-decoration: underline;
}

article {
    background-color: #ffffff;
}

blockquote {
    font-size: 90%;
    font-style: italic;
    margin-left: 20px;
    margin-right: 20px;
    border-left-style: solid;
    border-left-width: thick;
    border-left-color: grey;
    padding-left: 10px;
}

.container p {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.well > .mdata {
    padding: 0.25rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: smaller;
}

.well p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}


/* ------------------------------------------------------------ [ Container ] */

.vcenter {
    display: flex;
    align-items: centerl
    float: none;
}

.container > img.center {
    padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------------------------------------------ [ EOF ] */
