stack.yaml.lock
.stack-work/*
*~
.DS_Store
auto/
_site
_cache
dist
site
site.hi
site.o

dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp

*~
*dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
